
# Extesions
*.log
*.pyc
*.sh

# Directories
__pycache__/

# Ignore temporary files
Dockerfile
docker-compose.yml
data/
app/domain/
app/infrastructure/repository/interface.py
tests/validation/
tests/rest/

#