
# Extesions
*.log
*.pyc
*.sh

# Directories
__pycache__/
.vscode/

# Ignore temporary files
Dockerfile
docker-compose.yml
data/
app/domain/
app/rest/
app/infrastructure/repository/interface.py
tests/validaiton/
tests/rest/

#